.button-04 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  line-height: 1;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  &-icon {
    width: 16px;
    height: 16px;
    fill: #4b4b4b;
    margin-right: 8px;
    flex-shrink: 0;
    transition: fill 0.2s;
  }
  &-text {
    // 折り返しの対応
    overflow-wrap: break-word;
    min-inline-size: 0;
  }
  &:hover,
  &:focus {
    color: #0065ff;
    background-color: #e4eaf3;
    .button-04-icon {
      fill: #0065ff;
    }
  }
}
