.button-02 {
  display: block;
  width: 100%;
  // アイコンのスペースを確保したpadding-leftを設定する
  padding: 16px 16px 16px 40px;
  position: relative;
  background-color: #fff;
  overflow-wrap: break-word;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  &::before,
  &::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    // top: 50%;と、transform: translateY(-50%) で上下中央に配置
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.2s;
  }
  &::after {
    opacity: 0;
  }
  &.fav {
    &::before {
      background-image: url("../../images/icon_star.svg");
    }
    &::after {
      background-image: url("../../images/icon_star_hover.svg");
    }
  }
  &.message {
    &::before {
      background-image: url("../../images/icon_mail.svg");
    }
    &::after {
      background-image: url("../../images/icon_mail_hover.svg");
    }
  }
  &.trash {
    &::before {
      background-image: url("../../images/icon_trash_can.svg");
    }
    &::after {
      background-image: url("../../images/icon_trash_can_hover.svg");
    }
  }
  &-text {
    // 折り返しの対応
    overflow-wrap: break-word;
    min-width: 0;
  }
  &:hover,
  &:focus {
    color: #0065ff;
    background-color: #e4eaf3;
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}
