.button-04 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  &-icon {
    width: 16px;
    height: 16px;
    fill: #4b4b4b;
    margin-right: 8px;
    flex-shrink: 0;
  }
  &-text {
    // 折り返しの対応
    overflow-wrap: break-word;
    min-width: 0;
  }
}
