.button-02,
.button-03,
.button-04 {
  display: block;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  transition: all 0.2s;
  line-height: 1;
  &:hover {
    color: #0065ff;
    background-color: #e4eaf3;
  }
}
.button-02 {
  padding: 16px 16px 16px 40px;
  position: relative;
  overflow-wrap: break-word;
  &::before,
  &::after {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: opacity 0.2s;
  }
  &::after {
    opacity: 0;
  }
  &:hover {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  &.fav {
    &::before {
      background-image: url('../images/icon_star.svg');
    }
    &::after {
      background-image: url('../images/icon_star_hover.svg');
    }
  }
  &.message {
    &::before {
      background-image: url('../images/icon_mail.svg');
    }
    &::after {
      background-image: url('../images/icon_mail_hover.svg');
    }
  }
  &.trash {
    &::before {
      background-image: url('../images/icon_trash_can.svg');
    }
    &::after {
      background-image: url('../images/icon_trash_can_hover.svg');
    }
  }
  &.reload {
    padding: 16px 40px 16px 16px;
    &::before,
    &::after {
      left: auto;
      right: 16px;
      background-image: url('../images/icon_reload.svg');
    }
    &::after {
      background-image: url('../images/icon_reload_hover.svg');
    }
  }
  &-wrap {
    overflow-wrap: break-word;
    min-width: 0;
  }
}

.button-03 {
  padding: 16px;
  display: flex;
  align-items: center;
  &__jcSb {
    justify-content: space-between;
  }
  &-wrap {
    overflow-wrap: break-word;
    min-width: 0;
  }
  &-icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    fill: #4B4B4B;
    margin-right: 8px;
    position: relative;
    &::before,
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.2s;
    }
    &::after {
      opacity: 0;
    }
    &.fav {
      &::before {
        background-image: url('../images/icon_star.svg');
      }
      &::after {
        background-image: url('../images/icon_star_hover.svg');
      }
    }
    &.message {
      &::before {
        background-image: url('../images/icon_mail.svg');
      }
      &::after {
        background-image: url('../images/icon_mail_hover.svg');
      }
    }
    &.trash {
      &::before {
        background-image: url('../images/icon_trash_can.svg');
      }
      &::after {
        background-image: url('../images/icon_trash_can_hover.svg');
      }
    }
    &.reload {
      margin-right: 0;
      margin-left: 8px;
      &::before {
        background-image: url('../images/icon_reload.svg');
      }
      &::after {
        background-image: url('../images/icon_reload_hover.svg');
      }
    }
  }
  &:hover &-icon {
    &::before {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
  &-wrap {
    overflow-wrap: break-word;
    min-width: 0;
  }
}

.button-04 {
  padding: 16px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  &__jcSb {
    justify-content: space-between;
  }
  &-wrap {
    overflow-wrap: break-word;
    min-width: 0;
  }
  &-icon {
    width: 16px;
    height: 16px;
    fill: #4B4B4B;
    margin-right: 8px;
    flex-shrink: 0;
    transition: fill 0.2s;
    &.reload {
      margin-right: 0;
      margin-left: 8px;
    }
  }
  &:hover &-icon {
    fill: #0065ff;
  }
  &-wrap {
    overflow-wrap: break-word;
    min-width: 0;
  }
}
