.button-accesibility {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
  background-color: #fff;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  // 折り返しの対応
  overflow-wrap: break-word;
  &-icon {
    // アイコンの縮小を防ぐ
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    margin-right: 0;
    margin-left: 8px;
    position: relative;
    &::before,
    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      transition: opacity 0.2s;
      background-image: url("../../images/icon_reload.svg");
    }
    &::after {
      opacity: 0;
      background-image: url("../../images/icon_reload_hover.svg");
    }
  }
  &-text {
    margin-bottom: 4px;
    // 横幅の可変を維持した折り返しを行う
    min-width: 0;
  }
  &:hover,
  &:focus {
    color: #0065ff;
    background-color: #e4eaf3;
    .button-accesibility-icon {
      &::before {
        opacity: 0;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}
